@model List<Taniguchi_Final_Project.Models.Product>
@{
    ViewBag.Title = "All";
}

<h2>All Products</h2>
<a href="/Products/Upsert" class="btn btn-primary">Add a Product</a>

<div class="row">
    <div class="col-md-3">
        <input id="textSearch" type="text" class="form-control" placeholder="Search..." />
    </div>
    <div class="col-md-9">
        <input type="button" class="button btn btn-info" value="Search" onclick="Sortable.Search();" />
    </div>
</div>

<table class="sortable table table-hover table-striped">
    <thead>
        <tr>
            <th onclick="Sortable.Sort(0)">Code</th>
            <th onclick="Sortable.Sort(1)">Description</th>
            <th onclick="Sortable.Sort(2)">Unit Price</th>
            <th onclick="Sortable.Sort(3)">On Hand Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Code</td>
                <td>@product.Description</td>
                <td>@product.Unit_Price.ToString("C2")</td>
                <td>@product.On_Hand_Quantity</td>
                <td>
                    <a href="/Products/Upsert/@product.Code">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    Sortable.baseUrl = "/Products/All/";
</script>