@model Taniguchi_Final_Project.Models.State
@{
    ViewBag.Title = "Upsert a State";
}

<h2>Upsert</h2>

@using (Html.BeginForm("Upsert", "States", FormMethod.Post))
{
    <span>State Code</span>@Html.TextBoxFor(s => s.Code, new { @class = "form-control", id ="stateCode", placeholder = "State Code" })
    <span>State Name</span>@Html.TextBoxFor(s => s.Name, new { @class = "form-control", id="stateID", placeholder = "State Name" })


    <input type="submit" value="Submit" class="btn btn-info" />
    <input type="button" value="Delete" class="btn btn-danger" onclick="apiHandler.DELETE('/States/Delete/@Model.Code')" />
}